{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
            <div class="item active">
                <img src="https://alexandre-doret.com/wp-content/uploads/2017/10/cropped-banner-1686943_1920.jpg" style="width:100%;">
            </div>
        </div>
    </div>

    <h1>Bienvenue sur mon site web personnel!</h1>

    <p>
        Je suis actuellement étudiant chez Ingésup à Bordeaux (Groupe Ynov) en deuxième année, mais je suis également le dirigeant de ma propre entreprise de Services Informatiques pour clients particuliers autour de Bordeaux.<br>
        Je suis passionné par tout ce qui touche à l’informatique, et j’admire les grandes entreprises de la Silicon Valley comme Apple, Google, Microsoft, Tesla et bien d’autres…
    </p>
    <p>
        Je pratique régulièrement le Golf comme loisir depuis 2007, car j’étais élève au sein de l’école de golf de Bordeaux-Cameyrac de 2007 à 2016.
    </p>
    <p>
        J’apprécie voyager, mais plus particulièrement aux États-Unis car j’aime ce pays que je trouve grand et inépuisable. J’y vais assez régulièrement pour y découvrir les différents États qui le composent, et très récemment, pour y effectuer un stage en entreprise.
    </p>
    <p>
        N’hésitez pas à consulter les différentes pages de ce site pour y découvrir encore plus de choses sur moi!
    </p>
    <p>
        Cordialement,
    </p>
    <p>
        Alexandre DORET
    </p>
{% endblock body %}

