{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
                <div class="item active">
                    <img src="http://alexandre-doret.com/wp-content/uploads/2017/02/CV-alexandre-doret-3-page-001.jpg" style="width:100%;">
                </div>
            </div>
        </div>

{% endblock %}