{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <section id="wrapper">

            <div class="row">
                <div class="col-md-12">
                    <div class="masthead well well-sm">
                        <h1>
                            <a href="index.asp"><span class="light text-primary">Compte-Rendu</span><span style="font-family: Lato, sans-serif; font-weight: 300; text-decoration: none; rgb(45,137,239);">|</span><span class="dark text-primary">1</span></a>
                        </h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10">

                    <div class="article">
                        <h3>Compte-Rendu de Stage Numéro 1</h3>

                        <ul class="list-unstyled list-inline">
                            <li><i class="fa fa-calendar"></i> 13 Juin 2017</li>
                            <li><i class="fa fa-user"></i> Alexandre DORET</li>
                            <li><i class="fa fa-comments"></i> <a href="#">0 Commentaires</a></li>
                        </ul>

                        <div class="article-content">

                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero consectetur adipiscing elit magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>

                            <blockquote class="hero">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit posuere erat a ante.</p>
                                <small>Someone famous <cite title="Source Title">Source Title</cite></small>
                            </blockquote>

                            <p>Accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat.</p>

                        </div>

                        <ul class="list-unstyled list-inline blog-tags">
                            <li><a href="#"><span class="fa fa-tag"></span> Exemple </a></li>
                            <li><a href="#"><span class="fa fa-tag"></span> Exemple </a></li>
                            <li><a href="#"><span class="fa fa-tag"></span> Exemple </a></li>
                        </ul>

                    </div>

                </div>

                <div class="col-md-2">

                    <div>

                        <div class="headline"><h3>Tags</h3></div>

                        <ul class="list-unstyled list-inline blog-tags">
                            <li><a href="#"><i class="fa fa-tags"></i> Business</a></li>
                            <li><a href="#"><i class="fa fa-tags"></i> Music</a></li>
                            <li><a href="#"><i class="fa fa-tags"></i> Internet</a></li>
                            <li><a href="#"><i class="fa fa-tags"></i> Education</a></li>
                            <li><a href="#"><i class="fa fa-tags"></i> People</a></li>
                            <li><a href="#"><i class="fa fa-tags"></i> Math</a></li>
                            <li><a href="#"><i class="fa fa-tags"></i> Photos</a></li>
                            <li><a href="#"><i class="fa fa-tags"></i> Electronics</a></li>
                            <li><a href="#"><i class="fa fa-tags"></i> Apple</a></li>
                            <li><a href="#"><i class="fa fa-tags"></i> Canada</a></li>
                        </ul>

                    </div>

                </div>
            </div>



        </section>
    </div>
{% endblock body %}